<div class="container container-home">
  <div class="row ">
    <div class="hero">
      <div class="hero-content">
        <h1>Sybille Cordeau</h1>
        <br>
        <p>Graphiste / Webdesigner</p>
        <p>Freelance<p>
      </div>
      <div class="hero-portrait">
        <%= image_tag("portrait1.png", class: "hero-img") %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card card-deliveries">
      <div class="title text-center">
        <h3>Prestations</h3>
        <hr>
      </div>
      <div class="card-deliveries-content">
        <div class="card infos-delivery">
          <%= image_tag("pen-icon.png", class: "icon-delivery") %>
          <p>Illustration</p>
          <p class="descriptif">Adobe Photoshop, Illustrator, Indesign</p>
        </div>

        <div class="card infos-delivery">
          <%= image_tag("typo-icon.png", class: "icon-delivery") %>
          <p>Identité visuelle</p>
          <p class="descriptif">Logo, Charte Graphique, Typographie</p>
        </div>

        <div class="card infos-delivery">
          <%= image_tag("responsive-icon.png", class: "icon-delivery") %>
          <p>UI/UX</p>
          <p class="descriptif">Sketch, Figma, Adobe XD, Axure</p>
        </div>

        <div class="card  infos-delivery">
          <%= image_tag("code-icon.png", class: "icon-delivery") %>
          <p>Développement Web</p>
          <p class="descriptif">Ruby on Rails, HTML/CSS, JavaScript, Responsive Design</p>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="title text-center">
    <h3>Portfolio</h3>
  </div>

</div>
